<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from html.cwsthemes.com/ingenious/portfolio-two-col-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jul 2023 03:52:52 GMT -->
<head>
<meta charset="utf-8">
<title>AutoHoms-Home Automation Product and Services</title>

<!-- Stylesheets -->
<link href="/Public/user/css/bootstrap.css" rel="stylesheet">
<link href="/Public/user/css/style.css" rel="stylesheet">
<link href="/Public/user/css/responsive.css" rel="stylesheet">

<link rel="shortcut icon" href="/Public/user/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/Public/user/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body>

<div class="page-wrapper">


    
    <%- include('../partials/user_header.ejs') %>
    
    <!--Page Title-->
    <section class="page-title">
        <!-- Background Layers -->
        <div class="background-layers">
            <div class="cws-image-bg" style="background-image: url(/Public/user/images/background/37.jpg)">
                <div class="cws-overlay-bg"></div>
            </div>
        </div>

        <div class="auto-container">
            <h1>Products</h1>
            <ul class="page-breadcrumb">
                <li><a href="/">Home</a></li>
                <li>Products</li>
            </ul>
        </div>
    </section>
    <!--End Page Title-->

    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Content Side-->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                    <div class="row mid-spacing">
                        <%  product.forEach((data)=>{%>
                        <div class="portfolio-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="/Public/user/images/gallery/<%= data.name%>.jpg" alt=""></figure>
                                    <div class="overlay">
                                        <button onclick="addToCart('<%= data.name %>', '<%= data.category %>')"><span class="icon fa fa-shopping-cart"></span>
                                        </button></div>
                                </div>
                                <div class="lower-content">
                                    <h4><a href="#"><%=data.name %></a></h4>
                                    <div class="cat"><a href="#"><%=data.category %></a></div>
                                    <!-- <div class="text">Potenti justo at, quis neque sem diam nam eu, <br>nulla etiam per magna id</div> -->
                                </div>
                            </div>
                        </div>
                        <% })%>
                        <!-- Portfolio Block -->
                        <div class="portfolio-block-two col-lg-6 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image"><img src="/Public/user/images/gallery/3-2.jpg" alt=""></figure>
                                    <!-- <div class=" overlay"><a href="shopping-cart.html">Add to cart</a></div> -->
                                    <div class="overlay">
                                        <button onclick="addToCart('Outdoor', 'alarm')"><span class="icon fa fa-shopping-cart"></span>
                                        </button></div>
                                </div>
                                <div class="lower-content">
                                    <h4><a href="#">Outdoor CCTV</a></h4>
                                    <div class="cat"><a href="#">Alarm</a></div>
                                    <!-- <div class="text">Potenti justo at, quis neque sem diam nam eu, <br>nulla etiam per magna id</div> -->
                                </div>
                            </div>
                        </div>

                     

                    

                       

                   


                      
                    </div>
                    <!-- <div class="btn-box text-center"><a href="#" class="theme-btn btn-style-three large">Load More</a></div> -->
                </div>
                
                <!--Sidebar Side-->
                <div class="sidebar-side sticky-container col-lg-3 col-md-12 col-sm-12">
                    <aside class="sidebar theiaStickySidebar">
                        <div class="sticky-sidebar">
                            <!-- Category  Widget -->
                            <div class="sidebar-widget category-widget">
                                <div class="widget-content">
                                    <h3 class="widget-title">Categories</h3>
                                    <ul class="categories-list">
                                        <li><a href="/product?category=Gate Automation">Gate Automation     <span></span></a></li>
                                        <li><a href="/product?category=Lighting Control">Lighting Control <span></span></a></li>
                                        <li><a href="/product?category=Home Wifi">Home Wifi  <span></span></a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        

                     

                       

                      
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
    <!--End Sidebar Page Container-->

    <%- include('../partials/user_footer.ejs') %>

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-long-arrow-alt-up"></span></div>

<script src="/Public/user/js/jquery.js"></script> 
<script src="/Public/user/js/popper.min.js"></script>
<script src="/Public/user/js/bootstrap.min.js"></script>
<script src="/Public/user/js/jquery.fancybox.js"></script>
<script src="/Public/user/js/owl.js"></script>
<script src="/Public/user/js/wow.js"></script>
<script src="/Public/user/js/appear.js"></script>
<script src="/Public/user/js/jquery.fancybox.js"></script>
<script src="/Public/user/js/sticky_sidebar.min.js"></script>
<script src="/Public/user/js/isotope.js"></script>
<script src="/Public/user/js/script.js"></script>
<script src="/Public/user/js/ajax.js"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

<!-- Mirrored from html.cwsthemes.com/ingenious/portfolio-two-col-sidebar.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 08 Jul 2023 03:53:08 GMT -->
</html>